{{- define "errors" -}}
-- ERRORS


type Error
    = BadUrl String
    | Timeout
    | NetworkError
    | BadStatus Int ErrorResponse
    | BadBody String


type alias ErrorResponse =
    { name : String
    , code : Int
    , message : String
    , cause : Maybe String
    , httpStatus : Int
    }


errorResponseDecoder : Decoder ErrorResponse
errorResponseDecoder =
    Decode.succeed ErrorResponse
        |> andMap (Decode.field "error" Decode.string)
        |> andMap (Decode.field "code" Decode.int)
        |> andMap (Decode.field "msg" Decode.string)
        |> andMap (decodeOptionalField "cause" Decode.string)
        |> andMap (Decode.field "status" Decode.int)
        

{{ end -}}