{{- define "errors" -}}

{{- $webrpcErrors := .WebrpcErrors -}}
{{- $errors := .Errors -}}


-- ERRORS


type Error
    = BadUrl String
    | Timeout
    | NetworkError
    | BadStatus Int
    | WebrpcError WebrpcErrorName WebrpcErrorResponse    
    | BadBody String


type alias WebrpcErrorResponse =
    { name : WebrpcErrorName
    , code : Int
    , message : String
    , cause : Maybe String
    , httpStatus : Int
    }


type WebrpcErrorName
    {{- range $i, $webrpcError := $webrpcErrors }}
    {{if $i}}|{{else}}={{end}} {{ $webrpcError.Name }}
    {{- end }}
    {{- range $_, $error := $errors }}
    | {{ $error.Name }}
    {{- end }}
    

webrpcErrorDecoder : Decoder Error
webrpcErrorDecoder =
    Decode.succeed WebrpcError
        |> andMap (Decode.field "error" webrpcErrorNameDecoder)
        |> andMap webrpcErrorResponseDecoder


webrpcErrorResponseDecoder : Decoder WebrpcErrorResponse
webrpcErrorResponseDecoder =
    Decode.succeed WebrpcErrorResponse
        |> andMap (Decode.field "error" webrpcErrorNameDecoder)
        |> andMap (Decode.field "code" Decode.int)
        |> andMap (Decode.field "msg" Decode.string)
        |> andMap (decodeOptionalField "cause" Decode.string)
        |> andMap (Decode.field "status" Decode.int)
        

webrpcErrorNameDecoder : Decoder WebrpcErrorName
webrpcErrorNameDecoder =
    let
        enumDecoder : String -> Decoder WebrpcErrorName
        enumDecoder str =
            case str of
                {{ range $i, $webrpcError := $webrpcErrors -}}
                "{{ $webrpcError.Name }}" ->
                    Decode.succeed {{ $webrpcError.Name }}

                {{ end }}
                {{- range $i, $error := $errors -}}
                "{{ $error.Name }}" ->
                    Decode.succeed {{ $error.Name }}

                {{ end -}}                
                _ -> 
                    Decode.fail ("unknown value for type WebrpcErrorName: " ++ str)
    in
    Decode.string |> Decode.andThen enumDecoder     



{{ end -}}