{{- define "help" -}}
  {{- range $k, $v := . -}}
    {{- stderrPrintf "  -%v=%v\n" $k $v -}}
  {{- end -}}
  {{- stderrPrintf "See https://github.com/eriklott/webrpc-gen-elm for more info.\n" -}}
{{- end -}}