{{- define "methodsignature" -}}

{{- $method := .Method -}}
{{- $typeMap := .TypeMap -}}

{{- if $method.Inputs -}}
    {{- range $i, $input := $method.Inputs }}{{template "type" dict "Type" $input.Type "Optional" $input.Optional "TypeMap" $typeMap}} -> {{ end }}
{{- end -}}

{{- if eq (len $method.Outputs) 0 -}}
    Request ()
{{- else if eq (len $method.Outputs) 1 -}}
    {{- $output := index $method.Outputs 0 -}}
    Request {{template "type" dict "Type" $output.Type "Optional" $output.Optional "TypeMap" $typeMap "Nested" true}}
{{- else if gt (len $method.Outputs) 1 -}}
    Request { {{ range $i, $output := $method.Outputs }}{{if $i}}, {{end}}{{$output.Name}} : {{template "type" dict "Type" $output.Type "Optional" $output.Optional "TypeMap" $typeMap}}{{ end }} }
{{- end }}

{{- end }}