{{- define "types" -}}

{{- $typeMap := .TypeMap -}}
{{- $types := .Types }}


-- TYPES

{{ range $_, $type := $types -}}

{{- if eq $type.Kind "enum" }}
type {{$type.Name}}
{{- range $i, $field := $type.Fields}}
    {{ if $i }}|{{ else }}={{ end }} {{$type.Name}}{{$field.Name}}
{{- end }}

{{ end }}

{{- if eq $type.Kind "struct" }}
type alias {{$type.Name}} =
    {{ range $i, $field := $type.Fields -}}
    {{ if $i }}, {{ else }}{ {{ end -}}    
    {{ if eq $field.Name "type" }}type_{{ else }}{{ $field.Name }}{{ end }} : {{template "type" dict "Type" $field.Type "Optional" $field.Optional "TypeMap" $typeMap}} 
    {{ end }}}

{{ end -}}
{{- end -}}
{{- end -}}