{{- define "type" -}}

{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}
{{- $optional := .Optional -}}
{{- $nested := (coalesce .Nested "") -}}

{{- if $optional -}}
    
    Maybe {{template "type" dict "Type" $type "TypeMap" $typeMap "Nested" true}}

{{- else if isMapType $type -}}
    
    {{ if $nested }}({{ end -}}
    Dict {{get $typeMap (mapKeyType $type)}} {{template "type" dict "Type" (mapValueType $type) "TypeMap" $typeMap "Nested" true}}
    {{- if $nested }}){{ end }}

{{- else if isListType $type -}}

    {{ if $nested }}({{ end -}}
    List {{template "type" dict "Type" (listElemType $type) "TypeMap" $typeMap "Nested" true}}
    {{- if $nested }}){{ end }}

{{- else if isCoreType $type -}}

    {{ get $typeMap $type }}

{{- else -}}{{- /* structs */ -}}

    {{$type}}

{{- end -}}
{{- end -}}