{{- define "type-decoder" -}}

{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}


{{- if isMapType $type -}}
    
    (Decode.dict {{template "type-decoder" dict "Type" (mapValueType $type) "TypeMap" $typeMap}})
    
{{- else if isListType $type -}}

    (Decode.list {{template "type-decoder" dict "Type" (listElemType $type) "TypeMap" $typeMap}})

{{- else if isCoreType $type -}}
    
    Decode.{{ get $typeMap $type | camelCase}}

{{- else -}}{{- /* structs */ -}}

    {{ print $type | camelCase }}Decoder

{{- end -}}
{{- end -}}